<nav>
    <div class="container">
        <h1 class="logo">
            KUTEW
        </h1>
        <div class="page">Home Page</div>
        <div class="search-bars">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="search"><input type="search" placeholder="Search"></a>
            </div>
            <a class="btn-logout" href="/"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </div>
</nav>

