<nav>
    <div class="container">
        <h1 class="logo">
            KUTEW
        </h1>
        <div class="page"><%= pageTitle %></div>
        <div class="search-bars">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="search"><input type="search" placeholder="Search"></a>
            </div>
            <a class="btn-logout" href="/login"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </div>
</nav>

