<!-- right -->
<div class="right">
    <div class="tags">
      <div class="headtag"><i class="fa-solid fa-hashtag"></i> TAGS</div>
      <div class="tag">
        <a href="#">MATH I</a><br />
        <a href="#">MATH II</a><br />
        <a href="#">MATH III</a><br />
        <a href="#">PHYSIC I</a>
      </div>
    </div>
  </div>