<!-- right -->
<div class="right">
    <div class="tags">
      <div class="headtag"><i class="fa-solid fa-hashtag"></i> TAGS</div>
      <div class="tag" id="tagContainer">
        <!-- javascript -->
      </div>
  </div>
</div>

<script src="javascript/rightbar.js"></script>