<!-- left -->
<div class="left">
    <!-- sidebar -->
     <div class="sidebar">
        <a class="menu-item active" id="chat" href="#">
            <span><i class="fa-solid fa-chart-simple"></i></span><h3>Chart</h3>
        </a>
        <a class="menu-item " id="tutorReq" href="admin_request.html">
            <span><i class="fa-solid fa-hand-point-up"></i></span><h3>Tutor's Request</h3>
        </a>
        <a class="menu-item" id="chat" href="admin_chat.html">
            <span><i class="fa-solid fa-comments" ></i></span><h3>Chat</h3>
        </a>
        <a class="menu-item" id="report" href="admin_report.html">
            <span><i class="fa-solid fa-flag"></i></span><h3>Report</h3>
        </a>
        <a class="menu-item" id="report" href="admin_report.html">
            <span><i class="fa-solid fa-right-from-bracket"></i></span><h3>Leave</h3>
        </a>
     </div>
</div>