 <!-- left -->
 <div class="left">
    <a href="" class="profile">
        <div class="profile-photo">
            <img src="./img/racc.jfif" alt="">
        </div>
        <div class="handle">
            <h4>Raccon</h4>
        </div>
    </a>

    <!-- sidebar -->
    <div class="sidebar">
        <a class="menu-item active">
            <span><i class="fa-solid fa-house"></i></span><h3>Home</h3>
        </a>
        <a class="menu-item" id="notifications">
            <span><i class="fa-solid fa-bell"><small class="notification-count">2</small></i></span><h3>Notifications</h3>
        </a>
        <a class="menu-item" id="mypost">
            <span><i class="fa-solid fa-newspaper"></i></span><h3>Post</h3>
        </a>
        <a class="menu-item" id="chat-notifications">
            <span><i class="fa-solid fa-comments" ></i></i></span><h3>Chat</h3>
        </a>
        <a class="menu-item ">
            <span><i class="fa-solid fa-gear"></i></span><h3>Setting</h3>
        </a>
     </div>
</div>

