<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <!-- navbar -->
    <!-- <nav>
        <div class="logo">KUTEW</div>
        <div class="search-container">
          <button type="submit" id="tutor-apply">TUTOR</button>  
          <input type="text" placeholder="Search...">
        </div>
    </nav> -->
    <!-- sidebar starts -->
    <!-- <div class="sidebar">
        <div class="sidebarOption active">
            <i class="fa-solid fa-house sideicon"></i>
            <h2>Home</h2>
        </div>

        <div class="sidebarOption">
            <i class="fa-solid fa-bell sideicon"></i>
            <h2>Notification</h2>
        </div>

        <div class="sidebarOption">
            <i class="fa-solid fa-message sideicon"></i>
            <h2>Post</h2>
        </div>

        <div class="sidebarOption">
            <i class="fa-solid fa-comments sideicon"></i>
            <h2>Chat</h2>
        </div>

        <div class="sidebarOption">
            <i class="fa-solid fa-gear sideicon"></i>
            <h2>Setting</h2>
        </div>

        <div class="sidebarOption ">
            <i class="fa-solid fa-circle-user sideicon"></i>
            <h2>My profile</h2>
        </div>
    </div>
    sidebar ends -->
    <header>
        <aside>
            <a href="#" class="logo">KUTEW</a>
            <ul>
                <li><a href="#"><i class="fa-solid fa-house sideicon"></i> Home</a></li>
                <li><a href="#"><i class="fa-solid fa-bell sideicon"></i> Notification</a></li>
                <li><a href="#"><i class="fa-solid fa-message sideicon"></i> Post</a></li>
                <li><a href="#"><i class="fa-solid fa-comments sideicon"></i> Chat</a></li>
                <li><a href="#"><i class="fa-solid fa-gear sideicon"></i> Setting</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-user sideicon"></i> My profile</a></li>
            </ul>
        </aside>
        <section>
            <nav>
                <button id="tutorapply">TUTOR</button>
                <div class="search_bar">
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <input type="text" name="search" id="search" placeholder="Search...">
                </div>
            </nav>
            <div class="post">
                <div class="post_box">
                    <div class="post_card">
                        <label for="">Write post . . .</label>
                    </div>
                    <div class="feeds">
                        <img src="https://cdn.pixabay.com/photo/2015/11/16/14/43/cat-1045782_1280.jpg" alt="" class="profile_img" style="width: 100px;">
                        <h5 id="nameTutor">name</h5>
                        <h6 id="subject">MATH I</h6>
                        <P di="info"></P>
                        <p id="place">Place</p>
                        <button id="join">Join</button>
                    </div>
                </div>
            </div>
        </section>
    </header>
    
</body>
</html>