<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <!-- nav -->
    <nav>
        <div class="logo">KUTEW</div>
        <div class="search-container">
            <a href="/">Logout</a>
            <button type="submit" id="tutor-apply">TUTOR</button>  
            <input type="text" placeholder="Search...">
        </div>
    </nav>
    <!-- sidebar -->
    <div class="main__body">
        <div class="sidebar">
            <div class="sidebarRow">
                <i class="fa-solid fa-house sideicon"></i>
                <h2>Home</h2>
            </div>
            <div class="sidebarRow">
                <i class="fa-solid fa-bell sideicon"></i>
                <h2>Notification</h2>
            </div>
            <div class="sidebarRow">
                <i class="fa-solid fa-message sideicon"></i>
                <h2>Post</h2>
            </div>
            <div class="sidebarRow">
                <i class="fa-solid fa-comments sideicon"></i>
                <h2>Chat</h2>
            </div>
            <div class="sidebarRow">
                <i class="fa-solid fa-gear sideicon"></i>
                <h2>Setting</h2>
            </div>
            <div class="sidebarRow">
                <i class="fa-solid fa-circle-user sideicon"></i>
                <h2>My profile</h2>
            </div>
        </div>
        
        <div class="feed">

            <div class="messageSender">
                <div class="messageSender__top">
                    <img class="user__avatar story__avatar" src="https://i.pinimg.com/736x/3f/fd/b0/3ffdb08aafb723e161722847da87a058--male-man-avatar.jpg" alt="">
                    <form action="">
                        <input type="text" placeholder="Write Post...">
                    </form>
                </div>
                <div class="messageSender__bottom">
                    <div class="messageSender__option">
                        <i class="fa-solid fa-location-dot"></i>
                        <h3>Location</h3>
                    </div>
                    <div class="messageSender__option">
                        <i class="fa-solid fa-book"></i>
                        <h3>Subject</h3>
                    </div>
                    <div class="messageSender__option">
                        <i class="fa-solid fa-calendar-days"></i>
                        <h3>Date</h3>
                    </div>
                    
                </div>
            </div>

            <div class="post">
                <div class="post__top post__avatar">
                    <img class="user__avatar story__avatar" src="https://i.pinimg.com/736x/3f/fd/b0/3ffdb08aafb723e161722847da87a058--male-man-avatar.jpg" alt="">
                    <div class="post__topInfo">
                        <h3>Kelvin</h3>
                        <p>16 Febuary 2024</p>
                    </div>
                </div>
                <div class="post__bottom">
                    <p>MATH I</p>
                    <p>รับติววิชาคณิตศาสตร์วิศวกรรม 1</p>
                    <p>สถานที่:</p>
                </div>
                <div class="post__options">
                    <h3>Join</h3>
                </div>
                <div class="post__top post__avatar">
                    <img class="user__avatar story__avatar" src="https://i.pinimg.com/736x/3f/fd/b0/3ffdb08aafb723e161722847da87a058--male-man-avatar.jpg" alt="">
                    <div class="post__topInfo">
                        <h3>Kelvin</h3>
                        <p>16 Febuary 2024</p>
                    </div>
                </div>
                <div class="post__bottom">
                    <p>MATH I</p>
                    <p>รับติววิชาคณิตศาสตร์วิศวกรรม 1</p>
                    <p>สถานที่:</p>
                </div>
                <div class="post__options">
                    <h3>Join</h3>
                </div>
                <div class="post__top post__avatar">
                    <img class="user__avatar story__avatar" src="https://i.pinimg.com/736x/3f/fd/b0/3ffdb08aafb723e161722847da87a058--male-man-avatar.jpg" alt="">
                    <div class="post__topInfo">
                        <h3>Kelvin</h3>
                        <p>16 Febuary 2024</p>
                    </div>
                </div>
                <div class="post__bottom">
                    <p>MATH I</p>
                    <p>รับติววิชาคณิตศาสตร์วิศวกรรม 1</p>
                    <p>สถานที่:</p>
                </div>
                <div class="post__options">
                    <h3>Join</h3>
                </div>
                <div class="post__top post__avatar">
                    <img class="user__avatar story__avatar" src="https://i.pinimg.com/736x/3f/fd/b0/3ffdb08aafb723e161722847da87a058--male-man-avatar.jpg" alt="">
                    <div class="post__topInfo">
                        <h3>Kelvin</h3>
                        <p>16 Febuary 2024</p>
                    </div>
                </div>
                <div class="post__bottom">
                    <p>MATH I</p>
                    <p>รับติววิชาคณิตศาสตร์วิศวกรรม 1</p>
                    <p>สถานที่:</p>
                </div>
                <div class="post__options">
                    <h3>Join</h3>
                </div>
            </div>

        </div>
        <div class="tag">
            <div class="tag__bars">
                <div class="tag__bar">
                    <!-- <i class="fa-solid fa-book-bookmark"></i> -->
                    <h3>#MATH I</h3>
                </div>
                <div class="tag__bar">
                    <!-- <i class="fa-solid fa-book-bookmark"></i> -->
                    <h3>#MATH II</h3>
                </div>
                <div class="tag__bar">
                    <!-- <i class="fa-solid fa-book-bookmark"></i> -->
                    <h3>#MATH III</h3>
                </div>
            </div>
        </div>

        
    </div>
</body>
</html>