@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --white-color: hsl(0,0%,100%);
    --black-color: hsl(0,0%,0%);
    --green-color: rgba(63,112,33,255);
    --lighgreen-color: rgba(140,165,125,255);
    --background-color:rgba(217,217,217,255);
    --darkgray-color:rgb(60, 61, 55);
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-paddign: 0.6rem;
    --search-padding: 0.6rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: "Kanit", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    width: 100%;
    background-color: var(--green-color);
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    z-index: 1000;
}
nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    margin: 1rem;
}
.nav-list li a{
    color: var(--white-color);
    font-size: 1.1rem;
}
.nav-list a{
    transition: all 0.3s ease;
}
.nav-list a:hover{
    border-bottom: 2px solid var(--white-color);
    transform: scale(1.09);
}
.box-item{
    color: var(--white-color);
    font-size: 20px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/* section{
    padding: 5rem 0;
} */
.image-container {
    position: relative;
    width: 100%;
    height: 800px;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1.7px); /* ใช้ blur ตามต้องการ */
}
.overlay-text {
    margin-top: 5rem;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    color: white;
    text-align: center;
}

.overlay-text h1 {
    font-size: 3rem;
    font-weight: 700;
}

.overlay-text p {
    font-size: 1.2rem;
    margin-top: 1rem;
}
.btn{
    width: 200px;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
    border: 3px solid var(--green-color);
    background: transparent;
    margin: 20px;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.09);
    background: var(--green-color);
    
}
.home-section .overlay-text a{
    color: darkred;
    transition: all 0.3s ease;
}
.home-section .overlay-text a:hover{
    transform: scale(2.09);
}

.gallery-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background-color: var(--green-color);
}

.gallery-slide {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    display: block;
}
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 16px;
    font-size: 18px;
    z-index: 10;
    border-radius: var(--card-border-radius);
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    width: 100%;
}
.howto-gallery-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.howto-gallery-container .slide img {
    display: block;
   margin: 20px;
   width: 100%;
   height: 100%;
    object-fit: contain; /* ทำให้รูปไม่ถูกตัด */
    transition: transform 0.3s ease;
}
.howto-gallery-container .slide {
    display: inline-block;
    overflow: hidden; /* ป้องกันภาพล้น */
    transition: transform 0.3s ease; /* กำหนดเวลาในการขยายรูป */
}

.howto-section .container h1{
    margin: 10px;
    font-size: 30px;
    background-color: var(--green-color);
    color: white;
    padding: 10px;
    width: 12%;
    border-radius: var(--card-border-radius);
}
.about-section{
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.about-section .container h1{
    margin: 10px;
    font-size: 30px;
    background-color: var(--green-color);
    color: white;
    padding: 10px;
    width: 15%;
    border-radius: var(--card-border-radius);
}
.about-section .about-item{
    display: flex;
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    align-items: center;
}
.about-section .about-item .about-item-inner{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    width: 100%;
    height: 200px;
}
.about-section .about-item .about-item-inner img{
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.contact-section{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.contact-section .contact-item{
    display: flex;
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    align-items: center;
}
.contact-item .contact-item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
}
.contact-item .contact-item-inner img{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.contact-item .contact-item-inner h3,
.contact-item .contact-item-inner p{
    color: var(--black-color);
}
.footer-section{
    background-color: var(--darkgray-color);
    color: white;
    align-items: center;
    padding: 10px;
}
.footer-section .footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    gap: 5px;
}
.footer-section .footer-item .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    opacity: 0.8;
}
.footer-section .footer-item .footer-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.footer-section .footer-item .footer-contact a{
    cursor: pointer;
    color: white;
}


.scroll-indicator{
    width: 100%;
    height: 4px;
    background: var(--white-color);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    visibility: hidden;
}
.progress{
    width: 0%;
    height: 4px;
    background: var(--lighgreen-color);
}


@media (max-width: 1535px) {
    header{
        padding: 15px 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px) {
    section{
        transition: .2s;
    }
}
@media (max-width: 990px) {
    section h1{
        font-size: 1rem;
    }
    .image-container{
        height: 900px;
    }
    .overlay-text {
        position: absolute;
        margin-top: 3rem;
        margin-left: 1rem;
        top: 20%;
        left: 20%;
        transform: translate(-20%, -20%);
        color: white;
        text-align: center;
    }
    .box-item{
        display: block;
    }
    .nav-list{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 40vh;
        background-color: var(--lighgreen-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all 0.55s ease;
    }
    .nav-list a {
        display: block;
        margin: 10px 0;
        margin-left: 0;
    }
    .nav-list.open{
        right: 0;
    }
    .contact-section .contact-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-section .about-item{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 230px;
    }
    .about-section .container h1{
        width: 63%;
    }
    .howto-section .container h1{
        width: 63%;
    }
    .footer-section .footer-item{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin: 10px;
    }
}