<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/adminpage.css">
    <title>admin</title>
</head>
<body>
    <!-- navbar -->
    <%- include('../includes/navbar_admin.ejs') %>
    <!-- main -->
    <main>
        <div class="container">
            <!-- left -->
            <%- include('../includes/sidebar_admin.ejs') %>
            <!-- right -->
            <div class="right">
                <div class="right-background">
                    <div class="req-info">
                        <a href="/tutorrequest"><i class="fa-solid fa-arrow-left back"></i></a>
                        <form action="" class="info">
                            <img src="../img/racc.jfif" class="profile" id="profilePic">
                            <p id="user-name">Name-Lastname : <span></span></p>
                            <div class="info-group">
                                <p id="user-faculty">Faculty : <span></span></p>
                                <p id="user-major">Major : <span></span></p>
                                <p id="user-year">Year : <span></span></p>
                            </div>
                            <div class="info-group">
                                <p id="user-phone">Phone Number : <span></span></p>
                            </div>
                            <p id="user-address">Address : <span></span></p>
                            <div class="certi">
                                <p>Certificate or Teaching Photo :</p>
                                <img src="../img/cover.jpg" alt="" class="picinfo"  id="certi">
                            </div>
                            <div class="idcard">
                                <p>Photo with ID Card :</p>
                                <img src="../img/cover.jpg" alt="" class="picinfo"  id="idcard">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const userId = window.location.pathname.split('/').pop(); // assuming the ID is in the URL
            try {
                const response = await fetch(`/user/t/${userId}`,{
                    method : 'POST',
                    headers: {
                        "Content-Type":"application/json", 
                    }
                });
                const data = await response.json();

                if (data.length > 0) {
                    const user = data[0];
                    document.getElementById('user-name').querySelector('span').textContent = user.name;
                    document.getElementById('user-faculty').querySelector('span').textContent = user.faculty;
                    document.getElementById('user-major').querySelector('span').textContent = user.major;
                    document.getElementById('user-year').querySelector('span').textContent = user.year;
                    document.getElementById('user-phone').querySelector('span').textContent = user.phone;
                    document.getElementById('user-address').querySelector('span').textContent = user.address;
                    
                    document.getElementById('profilePic').src = `/${user.profilePic}`;
                    document.getElementById('certi').src = `/${user.certificatePic}`;
                    document.getElementById('idcard').src = `/${user.idPic}`;

                } else {
                    console.error('No user found with this ID');
                }
            } catch (error) {
                console.error('Error fetching user data:', error);
            }
        });
    </script>
</body>
</html>
