<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUTEW</title>
    <link rel="stylesheet" href="/css/firstpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- progressbar -->
     <div class="scroll-indicator">
        <div class="progress"></div>
     </div>
     <!-- navbar -->
     <header>
        <div class="container">
            <nav>
                <div class="logo">KUTEW</div>
                <ul class="nav-list">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#howto">How to use</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <div class="box-item">
                    <i class="fa-solid fa-bars menu-bars"></i>
                </div>
            </nav>
        </div>
     </header>
     <section class="home-section" id="home">
        <div class="image-container">
            <img src="/img/cover.jpg" alt="">
            <div class="overlay-text">
                <h1>Welcome To KUTEW</h1>
                <p>KUTEW is an online platform that connects students with tutors, making tutoring easier and more efficient. Students can search for tutors, join sessions, and make payments, while tutors can create posts and manage requests.</p>
                <div class="bottons">
                    <button type="button" class="btn log-in"><span></span>Enter KUTEW</button>
                </div>
            </div>
        </div>
    </section>
     <section class="about-section" id="about">
        <div class="container">
            <h1 id="about">About KUTEW</h1>
            <div class="gallery-container">
                <div class="gallery-slide">
                    <div class="slide"><img src="/img/login.JPG" alt="Image 1"></div>
                    <div class="slide"><img src="/img/choserole.JPG" alt="Image 2"></div>
                    <div class="slide"><img src="/img/allpost.JPG" alt="Image 3"></div>
                    <div class="slide"><img src="/img/join.JPG" alt="Image 4"></div>
                    <div class="slide"><img src="/img/search.JPG" alt="Image 5"></div>
                    <div class="slide"><img src="/img/review.JPG" alt="Image 6"></div>
                    <div class="slide"><img src="/img/chat.JPG" alt="Image 7"></div>
                    <div class="slide"><img src="/img/createpost.JPG" alt="Image 8"></div>
                    <div class="slide"><img src="/img/accorde.JPG" alt="Image 9"></div>
                    <div class="slide"><img src="/img/income.JPG" alt="Image 10"></div>
                    <div class="slide"><img src="/img/stdprof.JPG" alt="Image 11"></div>
                    <div class="slide"><img src="/img/chart.JPG" alt="Image 12"></div>
                    <div class="slide"><img src="/img/ttreq.JPG" alt="Image 13"></div>
                    <div class="slide"><img src="/img/report.JPG" alt="Image 14"></div>
                </div>
                <!-- ปุ่มเลื่อนสไลด์ -->
                <button class="prev" onclick="prevSlide()">&#10094;</button>
                <button class="next" onclick="nextSlide()">&#10095;</button>
            </div>
            <div class="row">
                <div class="about-item">
                    <div class="about-item-inner">
                        <h2>KUTEW </h2>
                        <p>is a platform designed to simplify the tutoring process. Students can easily find posts made by tutors, and tutors can post opportunities to find students.</p>
                    </div>
                </div>
                <div class="about-item">
                    <div class="about-item-inner">
                        <h2>Background and Significance</h2>
                        <p>Nowadays, web applications for seeking additional learning or tutoring services are widely available. These platforms offer a way to enhance knowledge or find tutors to assist with learning.
                            However, even with many platforms available, some websites lack key features that provide convenience for users, especially for those interested in becoming tutors.</p>
                    </div>
                </div>
                <div class="about-item">
                    <div class="about-item-inner">
                        <h2>Objectives</h2>
                        <p></p>
                        <ul>
                            <li>&bull; To design and develop a tutoring platform that meets users' needs more effectively and conveniently.</li>
                            <li>&bull; To serve as a medium connecting students with tutors.</li>
                        </ul>
                    </div>
                </div>
                
                <div class="about-item">
                    <div class="about-item-inner">
                        <h2>Features for Students</h2>
                        <ul>
                            <li>&bull; View tutor posts.</li>
                            <li>&bull; Search for tutors.</li>
                            <li>&bull; Send participation requests.</li>
                            <li>&bull; Make payments.</li>
                            <li>&bull; Use group chat.</li>
                            <li>&bull; Leave reviews.</li>
                        </ul>
                    </div>
                </div>
                <div class="about-item">
                    <div class="about-item-inner">
                        <h2>Features for Tutors</h2>
                        <ul>
                            <li>&bull; Create posts.</li>
                            <li>&bull; View student profiles.</li>
                            <li>&bull; Accept or decline participation requests.</li>
                            <li>&bull; Use group chat.</li>
                            <li>&bull; View total earnings.</li>
                        </ul>
                    </div>
                </div>
                <div class="about-item">
                    <div class="about-item-inner">
                        <h2>Features for Administrators</h2>
                        <ul>
                            <li>&bull; Access both frontend and backend.</li>
                            <li>&bull; Remove inappropriate reviews.</li>
                            <li>&bull; Chat to resolve user issues.</li>
                            <li>&bull; View usage statistics.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
     </section>
     <section class="howto-section" id="howto">
        <div class="container">
            <h1 id="howto">How to use</h1>
            <div class="howto-gallery-container">
                    <div class="slide"><img src="/img/_ How to use for student1.png" alt="Image 15"></div>
                    <div class="slide"><img src="/img/_ How to use for tutor1.png" alt="Image 16"></div>
                    <div class="slide"><img src="/img/Additional Features1.png" alt="Image 17"></div>
            </div>
        </div>
    </section>
     <section class="contact-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-item">
                    <div class="contact-item-inner">
                        <img src="/img/phett.jfif" alt="">
                        <h3>Thanaphon Phetcharat</h3>
                        <p>(Front-End Dev)</p>
                        <p>6440201595</p>
                        <p>thanaphon.phet@ku.th</p>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-item-inner">
                        <img src="/img/tad.jpeg" alt="">
                        <h3>Tadchai Phisutthisakulchai</h3>
                        <p>(Back-End Dev)</p>
                        <p>6440206305</p>
                        <p>tadchai.p@ku.th</p>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-item-inner">
                        <img src="/img/nu.jpg" alt="">
                        <h3>Nukun Kaewdi</h3>
                        <p>(Front-End Dev)</p>
                        <p>6440202288</p>
                        <p>nukun.k@ku.th</p>
                    </div>
                </div>
            </div>
        </div>
     </section>
     <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="footer-item">
                    <div class="copyright">
                        <i class="fa-regular fa-copyright"></i>
                        <p>2024 Copyright,</p>
                    </div>
                    <p>Teddy Team</p>
                    <i class="fa-solid fa-paw"></i>
                </div>
                <div class="footer-item">
                    <div class="footer-contact">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
                    </div>
                </div>
                <div class="footer-item">
                    <p>0950911129</p>
                </div>
            </div>
        </div>
     </footer>
     <script>
        document.querySelector('.log-in').addEventListener('click', function(){
            window.location.href='/login'
        })

        const menu = document.querySelector('.menu-bars')
        const navlist = document.querySelector('.nav-list')
        const progress = document.querySelector('.progress')

        menu.onclick = () =>{
            menu.classList.toggle('fa-x')
            navlist.classList.toggle('open')
        }

        window.onscroll=()=>scrollProgress()
        function scrollProgress(){
            const pageHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight
            const scrollTop = document.documentElement.scrollTop
            const scrollPercentage = (scrollTop/pageHeight)*100
            progress.style.visibility="visible"
            progress.style.width=scrollPercentage+"%"
        }

        //gallery
        let currentSlide = 0;
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;
        const slideInterval = 3000; // เปลี่ยนภาพทุกๆ 3 วินาที

        function showSlide(index) {
            if (index >= totalSlides) {
                currentSlide = 0;
            } else if (index < 0) {
                currentSlide = totalSlides - 1;
            } else {
                currentSlide = index;
            }

            const slideWidth = slides[currentSlide].clientWidth;
            document.querySelector('.gallery-slide').style.transform = `translateX(-${currentSlide * slideWidth}px)`;
        }

        function nextSlide() {
            showSlide(currentSlide + 1);
        }

        function prevSlide() {
            showSlide(currentSlide - 1);
        }

        // สไลด์อัตโนมัติ
        setInterval(nextSlide, slideInterval);
     </script>
</body>
</html>