<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <link rel="stylesheet" href="/css/selrole.css">
</head>
<body>
    <div class="container">
        <div class="role student">
            <h2>Student</h2>
            <img src="https://img.icons8.com/ios-filled/100/000000/student-male.png" alt="Student Icon">
            <br>
            <button id="selstudent">Select</button>
        </div>
        <div class="role tutor">
            <h2>Tutor</h2>
            <img src="https://img.icons8.com/ios-filled/100/000000/teacher.png" alt="Tutor Icon">
            <br>
            <button id="seltteacher" >Select</button>
        </div>
    </div>
    <script>
        document.getElementById('selstudent').addEventListener('click', function() {
            window.location.href = '/regisstu';
        });
        document.getElementById('seltteacher').addEventListener('click', function() {
            window.location.href = '/registteacher';
        });
    </script>
</body>
</html>