<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Profile</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../includes/navbar.ejs')%>

    <!-- main -->
    <main>
      <div class="container">
        <!-- left -->
        <%- include('../includes/sidebar.ejs')%>
        <!-- middle -->
        <div class="middle">
            <div class="settings">
                <div class="setting">
                    <div class="setting-name">
                        <i class="fa-solid fa-key"></i>
                        <p>เปลี่ยนรหัสผ่าน</p>
                    </div>
                    <a href="" class="navigation" id="setting-chPass">&gt;</a>
                </div>
                <div class="setting">
                    <div class="setting-name">
                        <i class="fa-solid fa-key"></i>
                        <p>เปลี่ยนรหัสผ่าน</p>
                    </div>
                    <a href="" class="navigation" id="setting-chPass">&gt;</a>
                </div>
            </div>
            <!-- modal change password -->
             <div class="modal-chPass" id="chPassModal">
                <div class="modal-chpass-content">
                    <span class="close-btn"><i class="fa-solid fa-x" id="closeModalBtn"></i></span>
                    <h2>Change Password</h2>
                    <form class="modal-body">
                        <div class="emailforPass">
                            <label>Email : </label>
                            <input type="email">
                        </div>
                        <div class="newpassforPass">
                            <label>Password : </label>
                            <input type="password">
                        </div>
                        <div class="newpassforPass">
                            <label>Password : </label>
                            <input type="password">
                        </div>
                        <div class="group-btn">
                            <button class="chpass-btn" id="chpass-btn">Change</button>
                            <button class="cancel-btn" id="cancel-btn">Cancel</button>
                        </div>
                    </form>
                </div>
             </div>
             <!-- modal logout -->
             <div class="modal-logout" id="logoutModal">
                <div class="modal-logout-content">
                    <span class="close-btn" id="closeLogoutModalBtn"><i class="fa-solid fa-x" id="closeModalBtn"></i></span>
                    <h2>Confirm Logout</h2>
                    <p>Are you sure you want to logout?</p>
                    <div class="group-btn">
                        <button id="logout-btn" class="logout-btn">Logout</button>
                        <button id="cancel-logout-btn" class="cancel-logout-btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- right -->
        <%- include('../includes/rightbar.ejs')%>
      </div>
    </main>

    <script>
        const modal = document.getElementById("chPassModal");
        const btn = document.getElementById("setting-chPass");
        const closeModalBtn = document.getElementById("closeModalBtn");
        const cancelModalBtn = document.getElementById("cancel-btn");
        btn.onclick = function(event) {
            event.preventDefault(); 
            modal.style.display = "block";
        }
        closeModalBtn.onclick = function() {
            modal.style.display = "none";
        }
        cancelModalBtn.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        const logoutModal = document.getElementById("logoutModal");
        const btnLogout = document.getElementById("setting-logout");
        const closeLogoutModalBtn = document.getElementById("closeLogoutModalBtn");
        const cancelLogoutBtn = document.getElementById("cancel-logout-btn");
        const logoutBtn = document.getElementById("logout-btn");
        btnLogout.onclick = function(event){
            event.preventDefault();
            logoutModal.style.display = "flex";
        }
        closeLogoutModalBtn.onclick = function(){
            logoutModal.style.display = "none";
        }
        cancelLogoutBtn.onclick = function(){
            logoutModal.style.display = "none";
        }
        logoutBtn.onclick = function(){
            logoutModal.style.display = "none";
        }
        window.onclick = function(event){
            if(event.target == logoutModal){
                logoutModal.style.display = "none";
            }
        }
    </script>
  </body>
</html>

